<!DOCTYPE html>
<html ng-app="bankApp">
<head>
<meta charset="UTF-8">
<title>Bank system</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/index.css">
<link rel="stylesheet" type="text/css" href="css/ng-notify.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/sweetalert.css">

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/ng-notify.js"></script>
<script type="text/javascript" src="js/sweetalert.min.js"></script>

<script type="text/javascript" src="js/moment.js"></script>

<script
	src="js/angular-messages.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/service.js"></script>
<script type="text/javascript" src="js/route.js"></script>

<script src="js/controller/countryController.js"></script>
<script src="js/service/countryService.js"></script>

<script src="js/controller/currencyController.js"></script>
<script src="js/service/currencyService.js"></script>

<script src="js/controller/currencyExchangeController.js"></script>
<script src="js/service/currencyExchangeService.js"></script>

<script src="js/controller/cityController.js"></script>
<script src="js/service/cityService.js"></script>

<script src="js/controller/exchangeListController.js"></script>
<script src="js/service/exchangeListService.js"></script>

<script src="js/controller/dailyAccountStatusController.js"></script>
<script src="js/service/dailyAccountStatusService.js"></script>

<script src="js/controller/analyticalStatementController.js"></script>
<script src="js/service/analyticalStatementService.js"></script>

<script src="js/controller/legalPersonAccountController.js"></script>
<script src="js/service/legalPersonAccountService.js"></script>

<script src="js/controller/loginController.js"></script>
<script src="js/service/loginService.js"></script>

<script src="js/controller/bankController.js"></script>
<script src="js/service/bankService.js"></script>

<script src="js/controller/RTGSRequestController.js"></script>
<script src="js/service/RTGSRequestService.js"></script>

<script src="js/controller/ClearingSettlementController.js"></script>
<script src="js/service/ClearingSettlementService.js"></script>

<script src="js/controller/userController.js"></script>

<script src="js/controller/registrationController.js"></script>
<script src="js/service/registrationService.js"></script>

</head>
<div ng-cloak ng-controller="userController">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-sidebar-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-sidebar-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active" ng-show = "!logged"><a href="#">Home</a></li>
					<li class="dropdown" ng-show = "logged"><a href class="dropdown-toggle"
						data-toggle="dropdown">User</a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href>Profile</a></li>
							<li><a href=>Account</a></li>
							<li><a href>History</a></li>
							<li><a href ng-click="changePassword()">Change password</a></li>
							<li><a href ng-click="logout()">Logout</a></li>
						</ul></li>
					<li><a href="#!/accounts">Accounts</a></li>
					<li><a href="#!/countries">Countries</a></li>
					<li><a href="#!/cities">Cities</a></li>
					<li><a href="#!/currencies">Currencies</a></li>
					<li><a href="#!/currencyExchanges">Currency exchanges</a></li>
					<li><a href="#!/exchangeListController">Exchange lists</a></li>
					<li><a href="#!/dailyAccountStatuses">Daily account
							statuses</a></li>
					<li><a href="#!/analyticalStatements">Analytical
							statements</a></li>
					<li><a href="#!/banks">Banks</a></li>
					<li><a href="#!/RTGSRequest">RTGS Requests</a></li>
					<li><a href="#!/ClearingSettlement">Clearing Settlement Requests</a></li>
					<li><a href="#!/register">Register</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<md-dialog class="modal" id="changePasswordModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Promena sifre</h1>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<li>Stara sifra: <input type="password" ng-model="password.old"></li>
					<li>Nova sifra: <input type="password" ng-model="password.newFirstTime"></li>
					<li>Nova sifra: <input type="password" ng-model="password.newSecondTime"></li>
				</form>
			</div>
			<div class="modal-footer">
				<input id="btnConfirm" type="submit"
					class="btn btn-default pulled-left"
					ng-click="confirmNewPassword(password)" value="Potvrdi" />
			</div>
		</div>
	</div>
	</md-dialog>
	
</div>

<body>
	<div class="container-fluid">
		<div ng-view></div>
	</div>
</body>


</html>