<div ng-cloak ng-controller="cityController">

	<div class="toolbar">
		<ul>
			<li><a id="search" ng-click="searchClicked()"><img
					src="images/search.gif" /></a></li>
			<li><a href="#" id="refresh"><img src="images/refresh.gif" /></a></li>
			<li><a ng-click="previousForm()" id="pickup"><img
					src="images/zoom-pickup.gif" /></a></li>
			<li><a href="#" id="help"><img src="images/help.gif" /></a></li>
			<li><a id="first" ng-click="firstClicked()"><img
					src="images/first.gif" /></a></li>
			<li><a id="prev" ng-click="prevClicked()"><img
					src="images/prev.gif" /></a></li>
			<li><a id="next" ng-click="nextClicked()"><img
					src="images/next.gif" /></a></li>
			<li><a id="last" ng-click="lastClicked()"><img
					src="images/last.gif" /></a></li>
			<li><a id="add" ng-click="addClicked()"><img
					src="images/add.gif" /></a></li>
			<li><a id="remove" ng-click="removeClicked(selectedCity)"><img
					src="images/remove.gif" /></a></li>
			<li><a id="nextform" ng-click="chain(selectedCity)"><img
					src="images/nextform.gif" /></a></li>
		</ul>
	</div>

	{{ mode.current }}

	<div class="table">
		<table>
			<tr class="header">
				<th>Naziv</th>
				<th>PTT oznaka</th>
				<th>Drzava</th>
			</tr>
			<tr ng-repeat="city in cities" ng-click="setSelected(city)"
				ng-class="{'alert alert-info' : selectedCity===city}">
				<td class="name">{{ city.name }}</td>
				<td class="pttNumber">{{ city.pttNumber }}</td>
				<td class="country">{{ city.country.name}}</td>
			</tr>
		</table>
	</div>

	<div class="panel">
		<p>
			<input ng-value="city.id" type="hidden" name="${field.name}"
				id="${field.id}" /> <input type="text" name="someData"
				ng-model="city.id" style="display: none;" />
		<p>
			<label for="${field.id}">Naziv</label> <input ng-model="city.name"
				type="text" name="${field.name}" id="${field.id}" />
		</p>
		<p>
			<label for="${field.id}">PTT oznaka</label> <input
				ng-model="city.pttNumber" type="text" name="${field.name}"
				id="${field.id}" />
		</p>
		<p>
			<input ng-value="city.country.id" type="hidden" name="${field.name)"
				id="${field.id}" /> <label for="${field.id}">Drzava</label> <select
				ng-options="{{countryOptions}}" ng-model="selectedCountry" id="selectField"><option
					value="" ng-if="true"></option></select> <input
				ng-click="showCountries(selectedCountry)" type="button"
				class="btn btn-sm btn-default pulled-left" value="..."
				style="margin-left: 6em" />
		</p>
		<div id="formActions">
			<input ng-click="submitAction(city)" type="submit" value="Potvrda"
				style="margin-left: 6em" class="btn btn-lg btn-default pulled-left" />
			<input ng-click="rollbackAction()" type="button" value="Rollback"
				style="margin-left: 6em" class="btn btn-lg btn-default pulled-left" />
		</div>
	</div>

	<md-dialog class="modal" id="countryModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Drzave</h1>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<table class="centered">
						<tr class="header">
							<th>Naziv</th>
						</tr>
						<tr ng-repeat="country in countries"
							ng-click="setModalSelectedCountry(country)"
							ng-class="{'alert alert-info' : selectedModalCountry===country}">
							<td class="naziv">{{ country.name }}</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="modal-footer">
				<input id="btnConfirm" type="submit"
					class="btn btn-default pulled-left" ng-click="confirmCountry()"
					value="Izaberi" />
			</div>
		</div>
	</div>
	</md-dialog>
	
	<md-dialog class="modal" id="previousFormsModal" tabindex="-1"
		aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1>Reference</h1>
			</div>
			<div class="modal-body">
				<form validate class="simple-form">
					<table class="centered">
						<tr class="header">
							<th>Referenca</th>
						</tr>
						<tr
							ng-click="setModalSelectedPreviousForm('countries')"
							ng-class="{'alert alert-info' : selectedModalPrevousForm == 'countries'}">
							<td>Banka</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="modal-footer">
				<input id="btnConfirm" type="submit"
					class="btn btn-default pulled-left" ng-click="confirmPreviousForm()"
					value="Izaberi" />
			</div>
		</div>
	</div>
	</md-dialog>

</div>