<div ng-cloak ng-controller="currencyExchangeController">

<div class = "toolbar">
	<ul>
	  <li><a id = "search" ng-click="searchClicked()"><img src="images/search.gif"/></a></li>
	  <li><a href="#" id = "refresh"><img src="images/refresh.gif"/></a></li>
	  <li><a href="#" id = "pickup"><img src="images/zoom-pickup.gif"/></a></li>
	  <li><a href="#" id = "help"><img src="images/help.gif"/></a></li>
	  <li><a id = "first" ng-click="firstClicked()"><img src="images/first.gif"/></a></li>
	  <li><a id = "prev" ng-click="prevClicked()"><img src="images/prev.gif"/></a></li>
	  <li><a id = "next" ng-click="nextClicked()"><img src="images/next.gif"/></a></li>
	  <li><a id = "last" ng-click="lastClicked()"><img src="images/last.gif"/></a></li>
	  <li><a id = "add"  ng-click="addClicked()"><img src="images/add.gif"/></a></li>
	  <li><a id = "remove" ng-click="removeClicked(selectedCex)"><img src="images/remove.gif"/></a></li>
	  <li><a id = "nextform" ng-click="nextClicked2(selectedCex)"><img src="images/nextform.gif"/></a></li>
	</ul>
</div>

{{ action }}

<div class = "cexTable">
	<table>
		 <tr class="header">
		 	<th>Kupovni kurs</th>
		 	<th>Srednji kurs</th>
		 	<th>Prodajni kurs</th>
		 	<th>Broj kursne liste</th>
		 	<th>Osnovna valuta</th>
		 	<th>Prema valuti</th>
		 </tr>
		 <tr ng-repeat="cex in cexes" ng-click="setSelected(cex)" ng-class="{'alert alert-info' : selectedCex===cex}">
		 	<td class="buyRate">{{ cex.buyRate }}</td>
			<td class="middleRate">{{ cex.middleRate }}</td>
			<td class="sellRate">{{ cex.sellRate }}</td>
			<td class="exchangeList">{{ cex.exchangeList.numberOfExchangeList }}</td>
			<td class="primaryCurrency">{{ cex.primaryCurrency.officialCode }}</td>
			<td class="accordingToCurrency">{{ cex.accordingToCurrency.officialCode }}</td>
		 </tr>
	</table>
</div>

<div class = "panel">
	<p>
	
					<input ng-value="cex.id" type = "hidden" name = "${field.name}" id = "${field.id}"/>
				<input type="text" name="someData" ng-model="cex.id" style="display: none;"/>
				
				<p>
					<label for = "${field.buyRate}">Kupovni kurs</label>
					<input ng-model="cex.buyRate" type = "number" step="0.0001" name = "${field.buyRate}" id = "${field.buyRate}"/>
				</p>
				<p>
					<label for = "${field.middleRate}">Srednji kurs</label>
					<input ng-model="cex.middleRate" type = "number" step="0.0001" name = "${field.middleRate}" id = "${field.middleRate}"/>
				</p>
				<p>
					<label for = "${field.sellRate}">Prodajni kurs</label>
					<input ng-model="cex.sellRate" type = "number" step="0.0001" name = "${field.sellRate}" id = "${field.sellRate}"/>
				</p>
				
				
				<p>
					<label for = "${field.exchangeList}">Broj kursne liste</label>
					<select ng-model="cex.exchangeList" ng-options="el.numberOfExchangeList for el in exchangeLists"
					><option value="" ng-if=true><option></select>
					<button ng-click="showExchangeLists(cex)" type="submit">...</button>
				</p>
				<p>
					<label for = "${field.primaryCurrency}">Osnovna valuta</label>
					<select ng-model="cex.primaryCurrency" ng-options="c.officialCode for c in currencies"
					><option value="" ng-if=true><option></select>
					<button ng-click="showCurrencies(cex)" type="submit">...</button>
				</p>
				<p>
					<label for = "${field.accordingToCurrency}">Prema valuti</label>
					<select ng-model="cex.accordingToCurrency" ng-options="c.officialCode for c in currencies"
					><option value="" ng-if=true><option></select>
					<button ng-click="showCurrencies(cex)" type="submit">...</button>
				</p>
				
				<div id = "formActions">
					<input ng-click="submitAction(cex)" type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#!/currencyExchanges" style="margin-left:1em" ng-click="rollbackAction()">Rollback</a>
				</div>			
				
	</p>
</div>


</div>