<div ng-cloak ng-controller = "RTGSRequestController">

	<div class="toolbar">
		<ul>
			<li><a id="search" ng-click="searchClicked()"><img
					src="images/search.gif" /></a></li>
			<li><a href="#" id="refresh"><img src="images/refresh.gif" /></a></li>
			<li><a ng-click="previousForm()" id="pickup"><img
					src="images/zoom-pickup.gif" /></a></li>
			<li><a href="#" id="help"><img src="images/help.gif" /></a></li>
			<li><a id="first" ng-click="firstClicked()"><img
					src="images/first.gif" /></a></li>
			<li><a id="prev" ng-click="prevClicked()"><img
					src="images/prev.gif" /></a></li>
			<li><a id="next" ng-click="nextClicked()"><img
					src="images/next.gif" /></a></li>
			<li><a id="last" ng-click="lastClicked()"><img
					src="images/last.gif" /></a></li>
			<li><a id="add""><img
					src="images/add.gif" /></a></li>
			<li><a id="remove"><img
					src="images/remove.gif" /></a></li>
			<li><a id="nextform"><img
					src="images/nextform.gif" /></a></li>
		</ul>
	</div>

	{{ mode.current }}
	<div class="table">
		<table>
			<tr class="header">
				<th>Poruka</th>
				<th>Banka duznika</th>
				<th>Banka poverioca</th>
				<th>Analitika izvoda</th>
				<th>Duznik</th>
				<th>Poverilac</th>
				<th>Racun duznika</th>
				<th>Racun poverioca</th>
				<th>Iznos</th>
				<th>Hitno</th>
				<th>Datum</th>
			</tr>
			<tr ng-repeat="rtgsReq in rtgsRequests"
				ng-click="setSelected(rtgsReq)"
				ng-class="{'alert alert-info' : selectedRTGSReq===rtgsReq}">
				<td class="messageId">{{ rtgsReq.messageId }}</td>
				<td class="paymentBank">{{ rtgsReq.paymentBank.name }}</td>
				<td class="recieverBank">{{ rtgsReq.recieverBank.name }}</td>
				<td class="analitycalStatement">{{ rtgsReq.analyticalStatement.id }}</td>
				<td>{{ rtgsReq.analyticalStatement.originator }}</td>
				<td >{{ rtgsReq.analyticalStatement.recipient }}</td>
				<td>{{ rtgsReq.analyticalStatement.originatorAccount }}</td>
				<td>{{ rtgsReq.analyticalStatement.recipientAccount }}</td>
				<td>{{ rtgsReq.analyticalStatement.amount }}</td>
				<td>{{ rtgsReq.analyticalStatement.urgently }}</td>
				<td>{{ rtgsReq.analyticalStatement.dateOfReceipt.substring(0, 11) }}</td>
			</tr>
		</table>
	</div>



</div>